@tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* ./styles/globals.css */
  .text-gradient {
    background: linear-gradient(90deg, #6b46c1, #e53e3e, #3182ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn {
    @apply inline-block px-8 py-3 rounded-full text-lg font-semibold transition duration-200;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-700 text-white hover:bg-gray-800;
  }
